* {
  box-sizing: border-box;
  margin: 1px;
  font-family: arial, sans-serif;
  font-size: 17px;
}

.h2 {
  display: flex;
  grid-row: 1;
  grid-column: 1 / span 12;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  font-weight: 700;
  font-size: 1.2rem;
  padding-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.background-img {
  grid-area: 1 / 1 / 10 / span 12;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-area: 1 / 1 / 2 / span 12;
}

.header {
  display: flex;
  grid-area: 1 / 1 / 1 / span 12;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
}

.header-img { grid-area: 1 / 4 / 1 / 4; }

.nav { grid-area: 2 / 1 / 2 / span 12; }
.menu {
  display: flex;
  flex-direction: row;
  grid-column: 2 / span 10;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin: 0px;
  border: 1px solid black;
  padding-left: 0px;
}

.menu-img-1 { grid-area:; }
.menu-img-2 { grid-area:; }
.menu-img-3 { grid-area:; }
.menu-img-4 { grid-area:; }
.menu-img-5 { grid-area:; }

a { text-decoration: none; }

article { line-height: 1.5; }
.article-center { grid-area: 2 / 2 / 6 / 10;}
.article-center-2 { grid-area: 7 / 2 / 12 / 12;}
.article-left { grid-area: 2 / 2 / 6 / 8; }
.article-right { grid-area: 7 / 6 / 12 / 12; }

.main-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto repeat(11, 1fr);
  grid-area: 3 / 2 / 5 / span 10;
}

.side-bar-left {
  grid-area: 8 / 2 / 10 / 6;
  background-color: rgba(255, 255, 255, 0);
  border: 1px black solid;
  margin: 0px;
}

.side-bar-right {
  grid-area: 3 / 9 / 5 / 12;
  background-color: rgba(255, 255, 255, 0);
  border: 1px black solid;
  margin: 0px;
}

.calendar {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.register {
  grid-row: 4;
  grid-column: 2;
}

.figure-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-area: 5 / 2 / 8 / span 12;
}

.figure-1 { grid-area: 1 / 1 / 4 / 4; }
.figure-2 {
  grid-area: 3 / 3 / 3 / 5;
  z-index: 3;
}
.figure-3 {
  grid-area: 1 / 4 / 3 / 5;
  z-index: 2;
}
.figure-4 {
  grid-area: 2 / 5 / 4 / 6;
  z-index: 4;
}
.figure-5 { grid-area: 2 / 10 / 4 / 12;}
.video { grid-area: ;}

/*Footer*/
.footer-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: 8 / 1 / auto / span 12
}
.footer { grid-area: 1 / 1 / span 12 / span 12; }
.logo-white { grid-area: 3 / 2 / 3 / 3; }
.address {
  grid-area: 9 / 11 / 12 / 12;
  color: rgb(255, 255, 255);
}

.policy {
  grid-area: 11 / 2 / 12 / 6;
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  padding-left: 10px;
}

[class*="col-"] { border: 1px solid black; }

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 64.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }
